VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
VITE_GOOGLE_MAPS_KEY=""

VITE_ADMIN_API = ""
VITE_MINIO_PUBLIC_URL=""
VITE_MINIO_BUCKET = ''