VITE_SUPABASE_PROJECT_ID="fgppwikdkpbjrtorwpav"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZncHB3aWtka3BianJ0b3J3cGF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMDc3OTksImV4cCI6MjA4OTY4Mzc5OX0.YQySZegCqxKfyrh7Hs9FTWT-DFFkIsTEiW13Nh5VDWU"
VITE_SUPABASE_URL="https://fgppwikdkpbjrtorwpav.supabase.co"
VITE_GOOGLE_MAPS_KEY="AIzaSyCHwk56sDtzQ0ZkpW2apyJJoKXWoDXrvQM"

VITE_ADMIN_API = "http://localhost:3000/api"
VITE_MINIO_PUBLIC_URL="https://bucket-llwj-production.up.railway.app"
VITE_MINIO_BUCKET = 'podemaismidia'